body {
    background-color: burlywood;
    block-size: 70%;
  }
  h1 {
    color: darkred;
    text-align: center;
    text-shadow: 3px 3px chocolate;
    font-size: 3em;
  }

  div img{
      height: 500px;
      width: 500px;
      float: right;
      margin-right: 30px;
      border: 5px solid darkred;
  }

  div {
      color: darkred;
      font-style: italic;
      font-size: 1.2em;
  }

  div p{
      font-weight: bold;
  }
